root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{*.ts, *.js, *.json, *.yml}]
indent_style = space
indent_size = 2

[{*.py}]
indent_style = space
indent_size = 4
